// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  .card {
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 1px 4px -1px hsla(214, 45%, 20%, 0.52);
    padding: 1rem;
  }
  
  .img {
    border-radius: 50%;
    flex-shrink: 0;
    height: 2.25rem;
    margin-right: 0.375rem;
    width: 2.25rem;
  }
  
  .header {
    align-items: baseline;
  }
  
  .name {
    font-size: 0.875rem;
    font-weight: bold;
    margin-right: 0.5rem;
  }
  
  .date {
    color: hsla(214, 45%, 20%, 0.52);
    font-size: 0.8125rem;
  }
  
  .post {
    color: hsla(214, 42%, 18%, 0.69);
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
    white-space: normal;
  }
  
  .actions {
    align-items: center;
  }
  
  .icon {
    color: hsla(214, 45%, 20%, 0.52);
    height: 1rem;
    margin-right: 0.5rem;
    width: 1rem;
  }
  
  .likes,
  .comments,
  .shares {
    color: hsla(214, 45%, 20%, 0.52);
    font-size: 0.8125rem;
    margin-right: 1.5rem;
  }
  
}
